<%= require('html-loader!common/header/head-common.html') %>
<%= htmlWebpackPlugin.options.title %>
<%= require('html-loader!common/header/index.html') %>
<div class="page">
    <article class="weui-article">
        <h1>大标题</h1>
        <section>
            <h2 class="title text-gray">2018-07-17</h2>
            <section>
                <p>
                    说的你还问我会飞个我姑说的你还问我会飞个我姑说的你还问我会飞个我姑说的你还问我会飞个我姑说的你还问我会飞个我姑
                </p>
            </section>
        </section>
    </article>
</div>
<%= require('html-loader!common/footer/index.html') %>