
// 没有数据
.empty{
    background: url('../images/empty.png') no-repeat;
}

// btn
.weui-btn_primary {
    background-color: @btn-primary-bg;
}

// form
.weui-cells{
    font-size: 0.16rem;
    // font-size: 16px;
    .weui-cell.weui-cell_warn{
        margin-bottom: 0.25rem;
        .weui-cell__error{
            position: absolute;
            top: 100%;
            right: 0.15rem;
            font-size: 0.14rem;
        }
    }
    &:before {
        border-top: 0rem solid #e5e5e5;
    }
    .weui-cell:before {
        border-top: 1px solid #e5e5e5;
    }
}
.weui-cell_warn.weui-cell_select .weui-cell__bd:after {
    border-color: @error-color;
}
.weui-picker__item {
    font-size: 0.2rem;
}

// alert


