<%= require('html-loader!common/header/head-common.html') %>
<%= htmlWebpackPlugin.options.title %>
<%= require('html-loader!common/header/index.html') %>
<div class="page">
    <div class="card">
        <div class="card-bd">
            <p class="card-title">中国石化 车柴 0# 国V</p>
            <p>油库：湖北省</p>
            <p>是否开票：否</p>
            <p>采购量：2&nbsp;吨</p>
            <p>询价时间：2018-05-05 10:21:13</p>
        </div>
        <div class="card-ft flex flex-middle">
            <p class="flex1">报价：
                <span class="text-jv">6690</span>&nbsp;元&nbsp;/&nbsp;吨</p>
            <a href="/index/store-createorders.html" class="weui-btn weui-btn_md weui-btn_primary">委托采购</a>
        </div>
    </div>

	<!-- loadmore -->

</div>
<%= require('html-loader!common/footer/index.html') %>