<%= require('html-loader!common/header/head-common.html') %>
<%= htmlWebpackPlugin.options.title %>
<%= require('html-loader!common/header/index.html') %>
<div class="page logistics-info">
    <div class="card">
        <div class="card-hd">
            订单信息
        </div>
        <div class="card-bd">
            <p>运输单号：28365935934858</p>
            <p>创建时间：2018-07-07 14:14:14</p>
            <p>联系人：张三</p>
            <p>联系电话：14788889999</p>
            <p>出发地：USU盾还是快递费</p>
            <div class="flex flex-between">
                <p>目的地：会计考合格</p>
                <p class="text-hu">车队就位</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-hd">
            支付信息
        </div>
        <div class="card-bd">
            <div class="flex flex-between">
                <p>运输费用：34&nbsp;元</p>
                <p class="text-hu">未付款</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-hd">
            商品信息
        </div>
        <div class="card-bd">
            <p>中国石化&nbsp;车柴&nbsp;0#&nbsp;国V</p>
            <p>油品总量：34&nbsp;吨</p>
        </div>
    </div>
    <div class="card">
        <div class="card-hd">
            车队信息
        </div>
        <div class="card-bd">
            <p>用车时间：2018-07-07</p>
            <p>车队确认时间：2018-07-07</p>
            <p>车队联系人：张思</p>
            <p>联系电话：13566667777</p>
            <p>车牌号码：鄂45678</p>
        </div>
    </div>
    <div class="card">
        <div class="card-hd">
            备注信息
        </div>
        <div class="card-bd">
            <p>备注：不是吧是U币二狗额U币不好好底护板</p>
        </div>
    </div>
</div>
<%= require('html-loader!common/footer/index.html') %>